# Google Drive OAuth 2.0 Client ID (Aplicação Web)
# Obtenha em: https://console.cloud.google.com/apis/credentials
# Origens JS autorizadas: http://localhost:5173 e https://imerso.pages.dev
VITE_GOOGLE_CLIENT_ID=""
